body,
html {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 0.75fr 1fr 1fr 1fr;
  height: 100vh;
  padding: 16px;
}

.grid-container div {
  padding: 15px;
  gap: 15px;
}

.sidebar {
  background-color: #0ea5e9;
  grid-row: 1 / 5;
}

.header {
  background-color: red;
  grid-column: 2 / 5;
}

.main-content {
  background-color: lime;
  grid-area: 2 / 2 / 5 / 5;
}
